files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_create_dirs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      mkdir -p /var/app/staging/LQM1lest
      touch /var/app/staging/LQM1lest/application.py
      mv /var/app/staging/LQM1lest/application /var/app/staging/LQM1lest/appplication.py
